@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-box-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.custom-bg {
    @apply bg-gradient-to-r;
    background-image:
        linear-gradient(to right, #4D5BE2 10%, #FFFFFF 47%),
        radial-gradient(circle, #FFFFFF 70%, #FFFFFF 100%);
    background-blend-mode: overlay;
}


.separator-bottomTopRight {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 8vw solid #1B45B4;
    margin-top: -8vw;
}

.separator-socialMediaBox {
    width: 0;
    height: 0;
    border-left: 100% solid transparent;
    border-bottom: 8%vw solid #1B45B4;
    margin-top: -8%vw;
}

.separator-bottomTopRightSocialMedia {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 8vw solid #14358A;
    margin-top: -8vw;
}

.separator-bottomTopRightBottomSocialMedia {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 8vw solid #14358A;
    margin-bottom: -8vw;
}

.separator-dashboardBottom {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 8vw solid #1C2792;
    margin-bottom: -8vw;
}


.bg-gradient-combined {
    background:
    radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 70%),
    linear-gradient(to bottom, rgba(77, 91, 226, 0.9) 0%, rgba(77, 91, 226, 0) 30%),
        url('/src/assets/dashboard/noiseTexture.png');
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}


.clip-path-polygon {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
}

.clip-path-polygon-mobile {
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
}

.slanted-divider {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    /* Creates a 20% slant */
}

.bg-gradient-combined {
    /* background:
      radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 70%),
      linear-gradient(to bottom, rgba(77, 91, 226, 0.9) 0%, rgba(77, 91, 226, 0) 30%),
          url('/src/assets/dashboard/noiseTexture.png');
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center;
      background-repeat: no-repeat; */
    /* position: absolute;
      top: -10%;
      left: -10%;
      right: -10%;
      bottom: -10%; */
    background: 
      linear-gradient(to top, #ffffff 50%, #899dd9);
    background-repeat: repeat, no-repeat, no-repeat; /* Noise texture repeats, gradients do not */
  
    /* z-index: -1; Place gradient behind the content */
  }

  .shadow-custom {
    position: relative;
    /* Add the gradient shadow effect */
  }
  
  .shadow-custom::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust distance from the bottom */
    right: -10px; /* Adjust distance from the right */
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(244, 245, 254, 0.5) 0%, rgba(244, 245, 254, 0) 100%);
    z-index: -1; /* Ensure the shadow is behind the content */
    pointer-events: none; /* Make sure the shadow doesn’t interfere with user interaction */
    border-radius: inherit; /* Ensure the shadow follows the border-radius of the parent element if any */
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 500px;
    background: linear-gradient(to bottom, #0589F0 0%, transparent 100%);
    pointer-events: none; /* Allows interaction with content underneath */
  }